/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --main-color: #145a88;
  --secondary-color: #96999f;
}

/* custom classes */
.p-color {
  color: var(--main-color);
}

.s-color {
  color: var(--secondary-color);
}

.vh-75 {
  height: 75vh;
}

.fs-heading {
  font-size: 3rem;
}

.w-70 {
  width: 70%;
}

.w-85 {
  width: 85%;
}

.pt-10 {
  padding-top: 60px;
}

.pc {
  padding-top: 120px;
  padding-bottom: 20px;
}

.w-40 {
  width: 40%;
}

.btn-color {
  background: none;
  border: none;
}

.align-justify {
  text-align: justify;
}

/* body */
body {
  font-family: "Poppins", sans-serif;
}

/* Navbar */
nav {
  background-color: #fff;
}

.nav-link,
.dropdown-item {
  color: var(--main-color);
  font-weight: 400;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.btn-catalogue {
  background-color: var(--main-color);
}

.btn-catalogue:hover {
  background-color: #06629f;
}

/* Home */

.img-cover {
  border-bottom-left-radius: 200px;
  max-height: 75vh;
}

.img-color {
  width: 65%;
}

/* Product */
.thumb > button > img:hover {
  border-radius: 50%;
  box-shadow: rgba(20, 90, 136, 0.5) 0px 0px 0px 2px;
}

/* Footer */

footer {
  background-color: var(--main-color);
}

.footer-item > li > a:hover {
  color: var(--secondary-color);
}

@media (max-width: 992px) {
  html {
    font-size: 80%;
  }

  #home > .row > .col-lg-6 {
    text-align: center;
  }

  #home > .row > .col-lg-6 > p,
  #home > .row > .col-lg-6 > a,
  .bg-ornament {
    margin: 0 auto;
  }

  .img-cover {
    border-bottom-left-radius: 0;
  }

  .img-color {
    width: 100%;
  }

  #about {
    text-align: center;
  }

  .img-logo-wrapper {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 65%;
  }

  footer {
    padding-left: 10%;
    font-weight: 500;
  }
}
